:root{
  --black: #000000;
  --hospital-green: #ACD9B2;
  --text-input-field: #F7F7F7;
  --very-light-pink: #C7C7C7;
  --white: #FFFFFF;
  --quicksand: 'Quicksand', sans-serif;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  position: relative;
}

html{
  font-size: 62.5%;
}

.container{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inactive{
  display: none;
}

/****************** Navbar ******************/

.navbar__container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 18px;
  width: 100%;
}

.navbar__icon{
  background-image: url("../assets/icons/icon_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 20px;
  width: 25px;
}

.navbar__content{
  align-items: center;
  display: flex;
  gap: 54px;
}

.navbar__list{
  display: none;
  gap: 18px;
  list-style: none;
  padding: 0;
}

.navbar__list a{
  color: #C7C7C7;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
}

.navbar__list li a:hover{
  background-color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
  border-radius: 10px;
  color: var(--hospital-green);
  color: white;
  padding: 6px 14px;
}

.navbar__account{
  align-items: center;
  display: flex;
  gap: 24px;
  position: relative;
}

.navbar__account p{
  display: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar__account a{
  width: 30px;
}

.navbar__account span{
  right: 3.8px;
  position: absolute;
  top: -1.6px;
}

.navbar__account a img{
  width: 30px;
}

@media screen and (min-width: 1024px){
  .navbar__container{
    padding: 16px 48px;
  }
  
  .navbar__icon{
    display: none;
  }
  
  .navbar__content > a > img:nth-child(1){
    width: 140px;
  }
  
  .navbar__list{
    display: flex;
  }
  
  .navbar__account p{
    display: inline-block;
  }
  
  .navbar__account span{
    right: 3px;
    top: 6.4px;
  }
}

/****************** Menu Card ******************/

.menu__container{
  inline-size: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 6rem;
}

.menu__card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
  padding-inline: 18px;
  padding-block: 24px;
  width: 154px;
  background-color: var(--white);
  position: absolute;
  inset-inline-end: 5rem;
}

.menu__card ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__card a{
  color: #000000;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  text-align: end;
  margin: 0;
  padding-block-end: 30px;
  width: 100%;
}

.menu__card li:nth-child(2){
  border-bottom: 1px solid #eeeeee;
}

.menu__card .sign__up{
  color: var(--hospital-green);
  font-size: 1.4rem;
  font-weight: normal;
  margin-block-start: 20px;
  padding: 0;
}

@media screen and (max-width: 1023px){
  .navbar__container {
    padding: 16px 48px;
  }

  .menu__card{
    display: none;
  }
}

@media screen and (min-width: 1024px){
  .navbar__container {
    padding: 16px 48px;
  }
}

/****************** Menu Card Mobile ******************/
.menu{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-between;
  width: 100%;
  padding: 16px 48px;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  background-color: var(--white);
}

.menu.inactive{
  opacity: 1;
}

.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li{
  font-weight: bold;
  font-size: 1.6rem;
  padding-block-end: 36px;
}

.menu a{
  color: #000000;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  width: 100%;
}

.menu ul li:nth-child(1){
  padding-block-end: 38px;
  text-transform: uppercase;
}

.menu li:nth-child(7){
  border-bottom: 1px solid #eeeeee;
  padding-block-end: 44px;
}

.menu li:nth-child(8){
  padding-block-start: 40px;
}

.menu__listTwo p{
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0;
}

.menu__listTwo ul li{
  padding: 0;
}

.menu__listTwo .sign__out{
  color: var(--hospital-green);
  font-size: 1.4rem;
  font-weight: normal;
  margin-block-start: 8px;
  text-transform: initial;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .menu{
    display: none;
  }
}

/****************** Carrito de compras ******************/
.orden__container{
  align-items: center;
  display: grid;
  grid-template-columns: minmax(282px, 400px);
  margin: 0 auto;
  /* min-height: 100vh; */
  padding: 0 18px;
  justify-content: end;
  width: 100%;
  opacity: 1;
  transition: opacity .2s;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  inset-inline: 0;
}

.orden__container.inactive{
  opacity: 0; 
}

.orden__container h2{
  display: none;
  font-size: 1.8rem;
  font-weight: bold;
  margin-block: 0;
}

.orden__container h2 span{
  background-position: center;
  background-repeat: no-repeat;
  color: #797979;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-inline-end: 24px;
  width: 24px;
}

.orden{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
}

.shopping__sumatoria{
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 10px;
  display: flex;
  font-weight: bold;
  font-size: 1.6rem;
  justify-content: space-between;
  margin-block-end: 18px;
  padding: 18px;
  width: inherit;
}

.shopping__sumatoria p{
  margin: 0;
}

.orden__concepto p:nth-child(1){
  font-size: 1.4rem;
  font-weight: normal;
}

.orden__productos{
  display: grid;
  gap: 24px;
  margin: 0;
  grid-auto-rows: 76px;
}

.producto__item{
  align-items: center;
  display: grid;
  grid-template-columns: 1fr .4fr;
  height: 100%;
  width: 100%;
}

.producto{
  align-items: center;
  display: flex;
  gap: 18px;
  height: 100%;
  width: 100%;
}

.producto img{
  height: 76px;
  border-radius: 20px;
  object-fit: cover;
  width: 76px;
}

.producto p{
  color: #797979;
  font-size: 1.4rem;
}

.producto__monto{
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.producto__monto p{
  font-size: 1.6rem;
  font-weight: 500;
}

.producto__monto span{
  background-size: 12px;
  background-repeat: no-repeat;
  background-image: url("../assets/icons/icon_close.png");
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.shopping__checkout{
  background-color: var(--hospital-green);
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-size: 1.6rem;
  padding: 18px 0;
  width: 100%;
}

@media screen and (min-width: 768px){
  .orden__container h2{
    display: block;
  }
}

/****************** Lista de productos ******************/
.home__container{
  padding-inline: 14px;
  max-width: 1200px;
  margin: 0 auto;
}

.home__cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  grid-auto-flow: row;
  gap: 12px;
  justify-content: center;
  padding-block-start: 30px;
}

.card__item{
  margin-block-end: 10px;
  width: 100%;
}

.card__item > img{
  border-radius: 20px;
  height: 140px;
  object-fit: cover;
  margin-block-end: 11px;
  width: 100%;
}

.item__text--wrapper{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.item__price,
.item__name{
  margin: 0;
}

.item__price{
  font-weight: 1.6rem;
  margin-block-end: 4px;
}

.item__name{
  color: var(--very-light-pink);
}

.item__icon img{
  height: 30px;
  margin: 0;
  width: 30px;
}

@media screen and (min-width: 768px){
  .home__cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-auto-flow: row;
    gap: 24px;
    justify-content: center;
    padding-block-start: 30px;
  }

  .card__item{
    width: 100%;
  }

  .card__item > img{
    border-radius: 20px;
    height: 240px;
    object-fit: cover;
    margin-block-end: 11px;
    width: 100%;
  }
}

/****************** Detalle del producto ******************/
.detalle_producto--container{
  display: grid;
  grid-template-columns: minmax(320px, 370px);
  grid-auto-rows: max-content 1fr;
  height: calc(100vh - 58px);
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 18px;
  position: absolute;
  inset-inline: 0;
  inset-block-start: 9rem;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.detalle_producto--container.inactive{
  opacity: 0;
}

.detalle_producto{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.producto__image{
  margin-block-end: 24px;
  position: relative;
}

.producto__image > span{
  display: none;
  background-image: url("../assets/icons/icon_close.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  border-radius: 50%;
  background-color: var(--white);
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
}

.detalle_producto--container img{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 320px;
  object-fit: cover;
  width: 100%;
}

.producto__puntos{
  text-align: center;
  margin-block-start: 14px;
}

.producto__puntos span{
  display: inline-block;
  background-color: var(--very-light-pink);
  background-size: 10px;
  border-radius: 50%;
  height: 10px;
  margin: 0 3px;
  width: 10px;
}

.producto__puntos span:nth-child(1){
  background-color: var(--hospital-green);
}

.producto__info{
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 300;
  height: 100%;
  justify-content: space-between;
  padding-inline: 18px;
  padding-block-end: 20px;
}

.producto__info__text p,
.producto__info__text h3{
  margin: 0;
}

.producto__info__text > p:nth-child(1){
  font-weight: bold;
  margin-block-end: 6px;
}

.producto__info__text > p:nth-child(3){
  font-size: 1.6rem;
  margin-block-start: 20px;
  margin-block-end: 54px;
}

.producto__info__text h3{
  color: #797979;
  font-weight: normal;
}

.add_cart{
  background-color: var(--hospital-green);
  border-radius: 10px;
  border: none;
  color: white;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  place-content: center;
  padding-block: 18px;
  width: 100%;
}

.add_cart > span{
  background-image: url("../assets/icons/icon_shopping_cart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  color: white;
  display: inline-block;
  height: 20px;
  margin-inline-end: 10px;
  width: 20px;
}

@media screen and (min-width: 768px){
  .detalle_producto{
    max-height: 700px;
  }
}

@media screen and (min-width: 1024px){
  .producto__image > span{
    display: inline-block;
  }

  .detalle_producto--container{
    height: calc(100vh - 78px);
    padding: 16px 48px;
  }
}