*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.menu__card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
  padding-inline: 18px;
  padding-block: 24px;
  width: 154px;
}
.menu__card ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__card a{
  color: #000000;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  text-align: end;
  margin: 0;
  padding-block-end: 30px;
  width: 100%;
}
.menu__card li:nth-child(2){
  border-bottom: 1px solid #eeeeee;
}
.menu__card .sign__up{
  color: var(--hospital-green);
  font-size: 1.4rem;
  font-weight: normal;
  margin-block-start: 20px;
  padding: 0;
}